@font-face{
  font-family: 'Akzidenz';
  src: url('./fonts/akzidenz-grotesk-bq-medium.otf')
}

@font-face {
  font-family: 'Akzidenz condensed';
  src: url('./fonts/akzidenz-grotesk-bq-medium-condensed-alt.otf')
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Akzidenz', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Akzidenz condensed', sans-serif;
}
